@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Poppins", sans-serif;
   
    
}

header{
    background-color:  rgb(160, 160, 182);
    padding: 1rem;
    color: beige;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

aside {
    /* margin-top: 4rem; */
    width: 190px;
    height: 100%;
    /* background-color: aqua; */
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  rgb(160, 160, 182);
    color: beige;
    padding: 1rem;
}

/* main {
    margin-left: 200px;
    position: relative;
    width:  80%;
} */
.hero{
    margin-left: 200px;
    /* padding-top: 6rem; */
    width: 100%;
    height: auto;
    max-width: 800px;
    padding-left: 1.4rem;
}
.plan{
    width: 82%;
    object-fit: contain;
    position: absolute;
    z-index: -1;
    height: 100%;
}

.rooms{
    width: 100%;
    /* height: 560px; */
    padding: 11px;
    display: grid;
    /* gap: 11px; */
    grid-template-columns:
    minmax(380px,1fr)
    minmax(170px,1fr)
    minmax(230px,.7fr)
    minmax(230px,.7fr)
    
    ;
    grid-template-rows: 
    minmax(185px,1fr)
    minmax(140px,1fr)
    minmax(140px,1.2fr);
    
    
    grid-template-areas:
    "item1 . item2 item3"
    "item4 . . ."
    "item4 . item5 item6"
}

    .item1 {grid-area: item1;}
    .item2 {grid-area: item2;}
    .item3 {grid-area: item3;}
    .item4 {grid-area: item4;}
    .item5 {grid-area: item5;}
    .item6 {grid-area: item6;}
    

/* .item4, .item5, .item6{
    background-color: aqua;
} */



ul {
    padding-left: 18px;
}


.staff-form{
    border-radius: 1rem;
    padding: 2rem;
    background-color: rgb(160, 160, 182);
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.staff-form input{ 
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid;
}
.form-div{
     top: 10%;
    left: 30%;
    
    /* margin-top: 10%; */
    position: absolute;
    
     /* height: 100%; */
    display: flex;
    justify-content: center;
    z-index: 11;
    /* background-color: black; */
}
.invis{
    
    display: none;
}

.plus{
    position: absolute;
    border-radius: 100%;
    border: none;
    font-size: larger;
    background-color: rgb(129, 207, 207);
    bottom: 0;
    padding: 10px 14px;
    
}
.item1,.item2 , .item3 ,.item4 , .item5 , .item6{
    margin-bottom: 15px;
    position: relative;
    display: flex;
    justify-content: center;
}
.add-form{
    border-radius: 50px;
    border: none;
    background-color: rgb(129, 207, 207);
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 0.5rem;
}
button{
    cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6); /* darkness level */
  z-index: 10;
}
.error{
    color: #ff3a20;
    font-weight: 600;
}
.error-invis{
    display: none;
}