@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Poppins", sans-serif;
   
    
}

header{
    background-color:  rgb(160, 160, 182);
    padding: 1rem;
    color: beige;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

aside {
    /* margin-top: 4rem; */
    width: 250px;
    height: 100%;
    /* background-color: aqua; */
    position: fixed;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  rgb(160, 160, 182);
    color: beige;
    padding: 0.5rem;
}

/* main {
    margin-left: 200px;
    position: relative;
    width:  80%;
} */
.hero{
    /* background-color: red; */
    margin-left: 260px;
    /* padding-top: 6rem; */
    width:82% ;
    height: 740px;
    /* height: auto; */
    /* max-width: 800px; */
    /* padding-left: 1.4rem; */
}
.plan{
    /* width: 82%; */
    object-fit: contain;
    position: absolute;
    z-index: -1;
    height: 100%;
}

.rooms{
    width: 96%;
    height: 75%;
    padding: 11px;
    display: grid;

    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "item1 item1 item1 . item2 item2 item3 item3"
    "item4 item4 item4 . . . . ."
    "item4 item4 item4 . item5 item5 item6 item6"
    ;
 

}

    .item1 {grid-area: item1;}
    .item2 {grid-area: item2;}
    .item3 {grid-area: item3;}
    .item4 {grid-area: item4;}
    .item5 {grid-area: item5;}
    .item6 {grid-area: item6;}
    

.item4, .item5, .item6 ,.item1 , .item2 , .item3{
    font-weight: 700;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



ul {
    padding-left: 18px;
}


.staff-form ,.staff-select , .more-info {
    border-radius: 1rem;
    padding: 2rem;
    background-color: rgb(182, 168, 160);
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.experience-grid{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.experience-grid input{
    padding: 0rem 0.4rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid;
}
.staff-form input , .staff-form textarea{ 
    padding: 0rem 0.4rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid;
}
.form-div,.select-div ,.more-info{
    top: 10%;
    left: 30%;
    
    /* margin-top: 10%; */
    position: absolute;
    
     /* height: 100%; */
    display: flex;
    justify-content: center;
    z-index: 11;
    /* background-color: black; */
}
.invis{
    
    display: none;
}

.plus{
    position: absolute;
    border-radius: 100%;
    border: none;
    font-size: larger;
    background-color: rgb(182, 168, 160);
    color: aliceblue;
    font-weight: 800;
    bottom: 0;
    padding: 10px 14px;
    
}
.item1,.item2 , .item3 ,.item4 , .item5 , .item6{
    margin-bottom: 15px;
    position: relative;
    display: flex;
    justify-content: center;
}
.add-form{
    margin-bottom: 2rem;
    border-radius: 50px;
    border: none;
    background-color: rgb(247, 254, 254);
    color: rgb(182, 168, 160);
    font-weight: 700;
    padding: 0.5rem;
}
button{
    cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6); /* darkness level */
  z-index: 10;
}
.error{
    color: #ff3a20;
    font-weight: 600;
}
.error-invis{
    display: none;
}
.submit , .select{
    align-self: center;
    width: 20%;
    padding: 00.6rem;
    border-radius: 2rem;
    border: none;
}
.staff-container{
    list-style: none;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: antiquewhite;
    color: rgb(54, 47, 59);
    display: flex;
    justify-content: space-between;
}
.staff-pic{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    border:1px solid black;
}
.free-staff{
    /* background-color: #ff3a20; */
    max-height: 6 00px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    /* background-color: #ff3a20; */
    padding: 0rem;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.delete{
    background-color: #ff3a20;
    color: aliceblue;
    font-weight: 700;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    border: none;
    
}
.select{
    cursor: pointer;
}
.empty{
    background-color: #ff3a209c;
    backdrop-filter: contrast(2);
}
.circle-upload {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px dashed #ccc;
    display: inline-block;
    cursor: pointer;
    align-self: center;
    overflow: hidden;
}

.circle-upload input {
    display: none; /* hide ugly file input */
}
.show-pic{
    width: 100%;
    object-fit: contain;
    
}
.experiences{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}